@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
	--cyan: 		hsl(185, 75%, 39%);
	--dark-blue: 	hsl(229, 23%, 23%);
	--gray: 		hsl(0, 0%, 59%);
	--light-gray:	hsl(0, 0%, 90%);
}
body{
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	background-color: var(--cyan);
	background-image: 
		url('../images/bg-pattern-top.svg'),
		url('../images/bg-pattern-bottom.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: 
		right 50vw bottom 50vh,
		left 50vw top 50vh;
}
.main{
	height: 98vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	background-color: white;
	width: 330px;
	border-radius: 1rem;
	box-shadow: 0 0 4px rgba(118, 60, 40, 0.5);
	overflow: hidden;
}
.card-header{
	height: 140px;
	background-image: url('../images/bg-pattern-card.svg');
}
.card-header-profile{
	display: block;
	margin: 0 auto;
	max-width: 96px;
	height: auto;
	background-color: white;
	border: 4px solid white;
	border-radius: 50%;
	transform: translateY(85px);
}
.card-content{
	text-align: center;
}
.card-name{
	margin-top: 4.5rem;
	margin-bottom: 0;
	font-size: 1.1rem;
}
.card-age{
	font-weight: 400;
	color: var(--gray);
}
.card-city{
	margin-top: 0.25rem;
	color: var(--gray);
	font-size: 0.8rem;
}
.card-footer{
	border-top: 1px solid var(--light-gray);
	margin-top: 2rem;
}
.footer-items{
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}
.footer-item{
	text-align: center;
}
.footer-item-header{
	font-size: 1rem;
	margin-bottom: 0;
}
.footer-item-content{
	margin-top: 0.25rem;
	font-size: 0.65rem;
	font-variant: small-caps;
	letter-spacing: 2px;
	color: var(--gray);
}
@media screen and (min-width: 1024px){
	.card{
		width: 350px;
	}
}